<!DOCTYPE html>
<!--HTML template for edit menu item page rendering -->
{# 
    {{ }} contains expression to print to the template output 
    {% %} contains statements
#}

<html>
    <body>
        
        <h1>Edit Menu item</h1>
        <h2>Current Name: {{item.name}}</h2>
            
        <form action='#' method='post'>
            <input type='text' size='30' name='name' placeholder='New Item Name'>
            <input type='submit' value='Update' id = '{{item.id}}'>
            {# missing rid #}
            <a href='{{ url_for("showMenu", rid="id") }}'>cancel</a>
        </form>
        
    </body>
</html>