<!DOCTYPE html>
<!--HTML template for rendering page to list all restaurants -->

<html>
    <body>
        
        <h1>{{ restaurant.name }}</h1>
        <p><a href='#'>Create New Menu Item</a></p>
        
        <form action='#' method='post'>

            <table>
                {% for value in menu %}
                    <th> {{ value['course'] }}</th>
                    <tr><td> </td></tr>
                    <tr>
                        <td> {{ value['name'] }} </td>
                        <td> {{ value['description'] }}</td>
                        <td> {{ value['price'] }}</td>
                    </tr>
                    <tr>
                        <td><a href='{{ url_for("editMenuItem", rid="1", mid=value["id"]) }}' id='{{ value["id"] }}'>Edit</a></td>
                        <td><a href='{{ url_for("deleteMenuItem", rid="1", mid=value["id"]) }}' id='{{ value["id"] }}'>Delete</a></td>
                    </tr>
                    <tr><td> </td></tr>
                    <tr><td> </td></tr>
                {% endfor %}
            </table>    
        </form>
        
    </body>
</html>